github "RedRoma/Sulcus"
github "RedRoma/Lexis-Database"
github "RedRoma/RedRomaColors"
github "RedRoma/AromaSwiftClient"

github "SirWellington/AlchemyGenerator" "develop"
github "SirWellington/AlchemyUIKit" "develop"
github "lexrus/LTMorphingLabel" "swift3"
