github "RedRoma/Archeota"
github "RedRoma/Lexis-Database"
github "RedRoma/RedRomaColors" "develop"
github "RedRoma/AromaSwiftClient" "develop"

github "SirWellington/AlchemyGenerator"
github "SirWellington/AlchemySwift"
github "SirWellington/AlchemyUIKit" "develop"
github "lexrus/LTMorphingLabel"
github "ninjaprox/NVActivityIndicatorView"

github "onevcat/Kingfisher"
